<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">5-day forecast for {{forecast?.city?.name}}</h3>

  </div>
  <ul class="list-group">
    <li *ngFor="let dailyForecast of forecast?.list" class="list-group-item">
      {{ (dailyForecast.dt * 1000) | date:'EEEE, MMM d'}}:
      {{dailyForecast.weather[0].main}}
      - Min: {{dailyForecast.temp.min | number:'.0-0'}}
      - Max: {{dailyForecast.temp.max | number:'.0-0'}}

      <app-weather-icon [conditionId]="dailyForecast.weather[0].id" [isIcon]="true"></app-weather-icon>
    </li>
  </ul>
</div>

<div class="mt-2 mb-2">
  <a routerLink="/" class="btn btn-success" tabindex="0" id="mainPageBtn">&lt; Back to main page</a>
</div>