<div class="card bg-light p-3">
  <h2>Add Location</h2>
  <form [formGroup]="locationForm">

    <div>
      <label for="country" class="form-label">Select a country</label>
      <app-select-autocomplete formControlName="country" name="country" id="country" [items]="countries$ | ngrxPush"
                               bindLabel="name" bindValue="code">
      </app-select-autocomplete>
    </div>

    <div>
      <label for="zipcode" class="form-label">Enter a zipcode</label>
      <input name="zipcode" id="zipcode" type="text" placeholder="75000" class="form-control" formControlName="zipcode"
             required autofocus>
    </div>

    <div class="mt-3">
      <app-long-running-button type="submit" [clickAction]="addLocation" [canExecute]="locationForm.valid === true">
        <ng-template lrb-ready-tmp btnClass="btn-primary"> Add Location </ng-template>
        <ng-template lrb-working-tmp btnClass="btn-outline-primary"> ✏️ Adding... </ng-template>
        <ng-template lrb-done-tmp btnClass="btn-success"> ✔️ Done </ng-template>
      </app-long-running-button>
    </div>
  </form>
</div>